{% load static %}
<link rel="stylesheet" href="{% static 'css/main.css' %}">

<div class="expenses-income">
    <div class ="transaction-form-box">
        <form method ="post">
            {% csrf_token %}
            <div class = "heading">
                Insira sua nova despesa
            </div>
            <div class="line">
            </div>
            <div class="field">
                <b>Categoria</b>
                <input type="text" required class="inp" name="ct">
            </div>
            <div class="field">
                <b>Descrição</b>
                <input type="text" required class="inp" name="dsc">
            </div>            
            <div class="field">
                <b>Data</b>
                <input type="date" required class="inp" name="dt">
            </div>
            <div class="field">
                <b>Valor</b>
                <input type="number"  class="inp" name="vlr" required>
            </div>
            <div class="field">
                <input type="submit"  class="submit-button" value="OK">
            </div>
        </form>
    </div>
</div>
